name: Run Kotlin Tests
concurrency:
  group: run-kotlin-tests-${{ github.ref }}
  cancel-in-progress: true
on:
  workflow_dispatch:
  workflow_call:
env:
  GRADLE_OPTS: -Dorg.gradle.parallel=true -Dorg.gradle.caching=true
jobs:
  run-kotlin-tests:
    strategy:
      fail-fast: false
      matrix:
        module: [ annotations, compiler, compiler-embeddable, core, gradle-plugin, ksp ]
        include:
          - java: '17'
          - xcode: '15.2'
          - module: compiler
            buildType: COMPILER_TESTS
    name: ${{ matrix.module }}
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v2
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Cache Konan
        uses: ./.github/actions/cache-konan
      - name: Run tests
        env:
          ORG_GRADLE_PROJECT_buildType: ${{ matrix.buildType || '' }}
        run: ./gradlew :kmp-nativecoroutines-${{ matrix.module }}:check
      - name: Archive reports
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: kmp-nativecoroutines-${{ matrix.module }}-reports
          path: '*/build/reports/'
